$white-space: 20px;
$white-space__xl: $white-space * 4;
$white-space__lg: $white-space * 2;
$white-space__sm: $white-space / 2;
$white-space__xs: $white-space / 4;

$tablet-width: 768px;
$desktop-width__sm: 992px;
$desktop-width__md: 1024px;
$desktop-width__lg: 1200px;
