@import 'variables';
@import 'mixins';

.push-xs,
.push-xs-xs {
    margin: $white-space__xs;
}
.push-sm,
.push-xs-sm {
    margin: $white-space__sm;
}
.push,
.push-md,
.push-xs-md {
    margin: $white-space;
}
.push-lg,
.push-xs-lg {
    margin: $white-space__lg;
}
.push-xl,
.push-xs-xl {
    margin: $white-space__xl;
}
.push-top-xs,
.push-top-xs-xs {
    margin-top: $white-space__xs;
}
.push-top-sm,
.push-top-xs-sm {
    margin-top: $white-space__sm;
}
.push-top,
.push-top-md
.push-top-xs-md {
    margin-top: $white-space;
}
.push-top-lg,
.push-top-xs-lg {
    margin-top: $white-space__lg;
}
.push-top-xl,
.push-top-xs-xl {
    margin-top: $white-space__xl;
}
.push-right-xs,
.push-right-xs-xs {
    margin-right: $white-space__xs;
}
.push-right-sm,
.push-right-xs-sm {
    margin-right: $white-space__sm;
}
.push-right,
.push-right-md
.push-right-xs-md {
    margin-right: $white-space;
}
.push-right-lg,
.push-right-xs-lg {
    margin-right: $white-space__lg;
}
.push-right-xl,
.push-right-xs-xl {
    margin-right: $white-space__xl;
}
.push-bottom-xs,
.push-bottom-xs-xs {
    margin-bottom: $white-space__xs;
}
.push-bottom-sm,
.push-bottom-xs-sm {
    margin-bottom: $white-space__sm;
}
.push-bottom,
.push-bottom-md
.push-bottom-xs-md {
    margin-bottom: $white-space;
}
.push-bottom-lg,
.push-bottom-xs-lg {
    margin-bottom: $white-space__lg;
}
.push-bottom-xl,
.push-bottom-xs-xl {
    margin-bottom: $white-space__xl;
}
.push-left-xs,
.push-left-xs-xs {
    margin-left: $white-space__xs;
}
.push-left-sm,
.push-left-xs-sm {
    margin-left: $white-space__sm;
}
.push-left,
.push-left-md
.push-left-xs-md {
    margin-left: $white-space;
}
.push-left-lg,
.push-left-xs-lg {
    margin-left: $white-space__lg;
}
.push-left-xl,
.push-left-xs-xl {
    margin-left: $white-space__xl;
}
.pad-xs,
.pad-xs-xs {
    padding: $white-space__xs;
}
.pad-sm,
.pad-xs-sm {
    padding: $white-space__sm;
}
.pad,
.pad-md,
.pad-xs-md {
    padding: $white-space;
}
.pad-lg,
.pad-xs-lg {
    padding: $white-space__lg;
}
.pad-xl,
.pad-xs-xl {
    padding: $white-space__xl;
}
.pad-top-xs,
.pad-top-xs-xs {
    padding-top: $white-space__xs;
}
.pad-top-sm,
.pad-top-xs-sm {
    padding-top: $white-space__sm;
}
.pad-top,
.pad-top-md
.pad-top-xs-md {
    padding-top: $white-space;
}
.pad-top-lg,
.pad-top-xs-lg {
    padding-top: $white-space__lg;
}
.pad-top-xl,
.pad-top-xs-xl {
    padding-top: $white-space__xl;
}
.pad-right-xs,
.pad-right-xs-xs {
    padding-right: $white-space__xs;
}
.pad-right-sm,
.pad-right-xs-sm {
    padding-right: $white-space__sm;
}
.pad-right,
.pad-right-md
.pad-right-xs-md {
    padding-right: $white-space;
}
.pad-right-lg,
.pad-right-xs-lg {
    padding-right: $white-space__lg;
}
.pad-right-xl,
.pad-right-xs-xl {
    padding-right: $white-space__xl;
}
.pad-bottom-xs,
.pad-bottom-xs-xs {
    padding-bottom: $white-space__xs;
}
.pad-bottom-sm,
.pad-bottom-xs-sm {
    padding-bottom: $white-space__sm;
}
.pad-bottom,
.pad-bottom-md
.pad-bottom-xs-md {
    padding-bottom: $white-space;
}
.pad-bottom-lg,
.pad-bottom-xs-lg {
    padding-bottom: $white-space__lg;
}
.pad-bottom-xl,
.pad-bottom-xs-xl {
    padding-bottom: $white-space__xl;
}
.pad-left-xs,
.pad-left-xs-xs {
    padding-left: $white-space__xs;
}
.pad-left-sm,
.pad-left-xs-sm {
    padding-left: $white-space__sm;
}
.pad-left,
.pad-left-md
.pad-left-xs-md {
    padding-left: $white-space;
}
.pad-left-lg,
.pad-left-xs-lg {
    padding-left: $white-space__lg;
}
.pad-left-xl,
.pad-left-xs-xl {
    padding-left: $white-space__xl;
}
.no-push,
.no-push-xs {
    margin: 0;
}
.no-push-top,
.no-push-top-xs {
    margin-top: 0;
}
.no-push-right,
.no-push-right-xs {
    margin-right: 0;
}
.no-push-bottom,
.no-push-bottom-xs {
    margin-bottom: 0;
}
.no-push-left,
.no-push-left-xs {
    margin-left: 0;
}
.no-pad,
.no-pad-xs {
    padding: 0;
}
.no-pad-top,
.no-pad-top-xs {
    padding-top: 0;
}
.no-pad-right,
.no-pad-right-xs {
    padding-right: 0;
}
.no-pad-bottom,
.no-pad-bottom-xs {
    padding-bottom: 0;
}
.no-pad-left,
.no-pad-left-xs {
    padding-left: 0;
}
@include tablet-up {
    .push-sm-xs {
        margin: $white-space__xs;
    }
    .push-sm-sm {
        margin: $white-space__sm;
    }
    .push-sm-md {
        margin: $white-space;
    }
    .push-sm-lg {
        margin: $white-space__lg;
    }
    .push-sm-xl {
        margin: $white-space__xl;
    }
    .push-top-sm-xs {
        margin-top: $white-space__xs;
    }
    .push-top-sm-sm {
        margin-top: $white-space__sm;
    }
    .push-top-sm-md {
        margin-top: $white-space;
    }
    .push-top-sm-lg {
        margin-top: $white-space__lg;
    }
    .push-top-sm-xl {
        margin-top: $white-space__xl;
    }
    .push-right-sm-xs {
        margin-right: $white-space__xs;
    }
    .push-right-sm-sm {
        margin-right: $white-space__sm;
    }
    .push-right-sm-md {
        margin-right: $white-space;
    }
    .push-right-sm-lg {
        margin-right: $white-space__lg;
    }
    .push-right-sm-xl {
        margin-right: $white-space__xl;
    }
    .push-bottom-sm-xs {
        margin-bottom: $white-space__xs;
    }
    .push-bottom-sm-sm {
        margin-bottom: $white-space__sm;
    }
    .push-bottom-sm-md {
        margin-bottom: $white-space;
    }
    .push-bottom-sm-lg {
        margin-bottom: $white-space__lg;
    }
    .push-bottom-sm-xl {
        margin-bottom: $white-space__xl;
    }
    .push-left-sm-xs {
        margin-left: $white-space__xs;
    }
    .push-left-sm-sm {
        margin-left: $white-space__sm;
    }
    .push-left-sm-md {
        margin-left: $white-space;
    }
    .push-left-sm-lg {
        margin-left: $white-space__lg;
    }
    .push-left-sm-xl {
        margin-left: $white-space__xl;
    }
    .pad-sm-xs {
        padding: $white-space__xs;
    }
    .pad-sm-sm {
        padding: $white-space__sm;
    }
    .pad-sm-md {
        padding: $white-space;
    }
    .pad-sm-lg {
        padding: $white-space__lg;
    }
    .pad-sm-xl {
        padding: $white-space__xl;
    }
    .pad-top-sm-xs {
        padding-top: $white-space__xs;
    }
    .pad-top-sm-sm {
        padding-top: $white-space__sm;
    }
    .pad-top-sm-md {
        padding-top: $white-space;
    }
    .pad-top-sm-lg {
        padding-top: $white-space__lg;
    }
    .pad-top-sm-xl {
        padding-top: $white-space__xl;
    }
    .pad-right-sm-xs {
        padding-right: $white-space__xs;
    }
    .pad-right-sm-sm {
        padding-right: $white-space__sm;
    }
    .pad-right-sm-md {
        padding-right: $white-space;
    }
    .pad-right-sm-lg {
        padding-right: $white-space__lg;
    }
    .pad-right-sm-xl {
        padding-right: $white-space__xl;
    }
    .pad-bottom-sm-xs {
        padding-bottom: $white-space__xs;
    }
    .pad-bottom-sm-sm {
        padding-bottom: $white-space__sm;
    }
    .pad-bottom-sm-md {
        padding-bottom: $white-space;
    }
    .pad-bottom-sm-lg {
        padding-bottom: $white-space__lg;
    }
    .pad-bottom-sm-xl {
        padding-bottom: $white-space__xl;
    }
    .pad-left-sm-xs {
        padding-left: $white-space__xs;
    }
    .pad-left-sm-sm {
        padding-left: $white-space__sm;
    }
    .pad-left-sm-md {
        padding-left: $white-space;
    }
    .pad-left-sm-lg {
        padding-left: $white-space__lg;
    }
    .pad-left-sm-xl {
        padding-left: $white-space__xl;
    }
    .no-push-sm {
        margin: 0;
    }
    .no-push-top-sm {
        margin-top: 0;
    }
    .no-push-right-sm {
        margin-right: 0;
    }
    .no-push-bottom-sm {
        margin-bottom: 0;
    }
    .no-push-left-sm {
        margin-left: 0;
    }
    .no-pad-sm {
        padding: 0;
    }
    .no-pad-top-sm {
        padding-top: 0;
    }
    .no-pad-right-sm {
        padding-right: 0;
    }
    .no-pad-bottom-sm {
        padding-bottom: 0;
    }
    .no-pad-left-sm {
        padding-left: 0;
    }
}
@include desktop-sm-up {
    .push-md-xs {
        margin: $white-space__xs;
    }
    .push-md-sm {
        margin: $white-space__sm;
    }
    .push-md-md {
        margin: $white-space;
    }
    .push-md-lg {
        margin: $white-space__lg;
    }
    .push-md-xl {
        margin: $white-space__xl;
    }
    .push-top-md-xs {
        margin-top: $white-space__xs;
    }
    .push-top-md-sm {
        margin-top: $white-space__sm;
    }
    .push-top-md-md {
        margin-top: $white-space;
    }
    .push-top-md-lg {
        margin-top: $white-space__lg;
    }
    .push-top-md-xl {
        margin-top: $white-space__xl;
    }
    .push-right-md-xs {
        margin-right: $white-space__xs;
    }
    .push-right-md-sm {
        margin-right: $white-space__sm;
    }
    .push-right-md-md {
        margin-right: $white-space;
    }
    .push-right-md-lg {
        margin-right: $white-space__lg;
    }
    .push-right-md-xl {
        margin-right: $white-space__xl;
    }
    .push-bottom-md-xs {
        margin-bottom: $white-space__xs;
    }
    .push-bottom-md-sm {
        margin-bottom: $white-space__sm;
    }
    .push-bottom-md-md {
        margin-bottom: $white-space;
    }
    .push-bottom-md-lg {
        margin-bottom: $white-space__lg;
    }
    .push-bottom-md-xl {
        margin-bottom: $white-space__xl;
    }
    .push-left-md-xs {
        margin-left: $white-space__xs;
    }
    .push-left-md-sm {
        margin-left: $white-space__sm;
    }
    .push-left-md-md {
        margin-left: $white-space;
    }
    .push-left-md-lg {
        margin-left: $white-space__lg;
    }
    .push-left-md-xl {
        margin-left: $white-space__xl;
    }
    .pad-md-xs {
        padding: $white-space__xs;
    }
    .pad-md-sm {
        padding: $white-space__sm;
    }
    .pad-md-md {
        padding: $white-space;
    }
    .pad-md-lg {
        padding: $white-space__lg;
    }
    .pad-md-xl {
        padding: $white-space__xl;
    }
    .pad-top-md-xs {
        padding-top: $white-space__xs;
    }
    .pad-top-md-sm {
        padding-top: $white-space__sm;
    }
    .pad-top-md-md {
        padding-top: $white-space;
    }
    .pad-top-md-lg {
        padding-top: $white-space__lg;
    }
    .pad-top-md-xl {
        padding-top: $white-space__xl;
    }
    .pad-right-md-xs {
        padding-right: $white-space__xs;
    }
    .pad-right-md-sm {
        padding-right: $white-space__sm;
    }
    .pad-right-md-md {
        padding-right: $white-space;
    }
    .pad-right-md-lg {
        padding-right: $white-space__lg;
    }
    .pad-right-md-xl {
        padding-right: $white-space__xl;
    }
    .pad-bottom-md-xs {
        padding-bottom: $white-space__xs;
    }
    .pad-bottom-md-sm {
        padding-bottom: $white-space__sm;
    }
    .pad-bottom-md-md {
        padding-bottom: $white-space;
    }
    .pad-bottom-md-lg {
        padding-bottom: $white-space__lg;
    }
    .pad-bottom-md-xl {
        padding-bottom: $white-space__xl;
    }
    .pad-left-md-xs {
        padding-left: $white-space__xs;
    }
    .pad-left-md-sm {
        padding-left: $white-space__sm;
    }
    .pad-left-md-md {
        padding-left: $white-space;
    }
    .pad-left-md-lg {
        padding-left: $white-space__lg;
    }
    .pad-left-md-xl {
        padding-left: $white-space__xl;
    }
    .no-push-md {
        margin: 0;
    }
    .no-push-top-md {
        margin-top: 0;
    }
    .no-push-right-md {
        margin-right: 0;
    }
    .no-push-bottom-md {
        margin-bottom: 0;
    }
    .no-push-left-md {
        margin-left: 0;
    }
    .no-pad-md {
        padding: 0;
    }
    .no-pad-top-md {
        padding-top: 0;
    }
    .no-pad-right-md {
        padding-right: 0;
    }
    .no-pad-bottom-md {
        padding-bottom: 0;
    }
    .no-pad-left-md {
        padding-left: 0;
    }
}
@include desktop-lg {
    .push-lg-xs {
        margin: $white-space__xs;
    }
    .push-lg-sm {
        margin: $white-space__sm;
    }
    .push-lg-md {
        margin: $white-space;
    }
    .push-lg-lg {
        margin: $white-space__lg;
    }
    .push-lg-xl {
        margin: $white-space__xl;
    }
    .push-top-lg-xs {
        margin-top: $white-space__xs;
    }
    .push-top-lg-sm {
        margin-top: $white-space__sm;
    }
    .push-top-lg-md {
        margin-top: $white-space;
    }
    .push-top-lg-lg {
        margin-top: $white-space__lg;
    }
    .push-top-lg-xl {
        margin-top: $white-space__xl;
    }
    .push-right-lg-xs {
        margin-right: $white-space__xs;
    }
    .push-right-lg-sm {
        margin-right: $white-space__sm;
    }
    .push-right-lg-md {
        margin-right: $white-space;
    }
    .push-right-lg-lg {
        margin-right: $white-space__lg;
    }
    .push-right-lg-xl {
        margin-right: $white-space__xl;
    }
    .push-bottom-lg-xs {
        margin-bottom: $white-space__xs;
    }
    .push-bottom-lg-sm {
        margin-bottom: $white-space__sm;
    }
    .push-bottom-lg-md {
        margin-bottom: $white-space;
    }
    .push-bottom-lg-lg {
        margin-bottom: $white-space__lg;
    }
    .push-bottom-lg-xl {
        margin-bottom: $white-space__xl;
    }
    .push-left-lg-xs {
        margin-left: $white-space__xs;
    }
    .push-left-lg-sm {
        margin-left: $white-space__sm;
    }
    .push-left-lg-md {
        margin-left: $white-space;
    }
    .push-left-lg-lg {
        margin-left: $white-space__lg;
    }
    .push-left-lg-xl {
        margin-left: $white-space__xl;
    }
    .pad-lg-xs {
        padding: $white-space__xs;
    }
    .pad-lg-sm {
        padding: $white-space__sm;
    }
    .pad-lg-md {
        padding: $white-space;
    }
    .pad-lg-lg {
        padding: $white-space__lg;
    }
    .pad-lg-xl {
        padding: $white-space__xl;
    }
    .pad-top-lg-xs {
        padding-top: $white-space__xs;
    }
    .pad-top-lg-sm {
        padding-top: $white-space__sm;
    }
    .pad-top-lg-md {
        padding-top: $white-space;
    }
    .pad-top-lg-lg {
        padding-top: $white-space__lg;
    }
    .pad-top-lg-xl {
        padding-top: $white-space__xl;
    }
    .pad-right-lg-xs {
        padding-right: $white-space__xs;
    }
    .pad-right-lg-sm {
        padding-right: $white-space__sm;
    }
    .pad-right-lg-md {
        padding-right: $white-space;
    }
    .pad-right-lg-lg {
        padding-right: $white-space__lg;
    }
    .pad-right-lg-xl {
        padding-right: $white-space__xl;
    }
    .pad-bottom-lg-xs {
        padding-bottom: $white-space__xs;
    }
    .pad-bottom-lg-sm {
        padding-bottom: $white-space__sm;
    }
    .pad-bottom-lg-md {
        padding-bottom: $white-space;
    }
    .pad-bottom-lg-lg {
        padding-bottom: $white-space__lg;
    }
    .pad-bottom-lg-xl {
        padding-bottom: $white-space__xl;
    }
    .pad-left-lg-xs {
        padding-left: $white-space__xs;
    }
    .pad-left-lg-sm {
        padding-left: $white-space__sm;
    }
    .pad-left-lg-md {
        padding-left: $white-space;
    }
    .pad-left-lg-lg {
        padding-left: $white-space__lg;
    }
    .pad-left-lg-xl {
        padding-left: $white-space__xl;
    }
    .no-push-lg {
        margin: 0;
    }
    .no-push-top-lg {
        margin-top: 0;
    }
    .no-push-right-lg {
        margin-right: 0;
    }
    .no-push-bottom-lg {
        margin-bottom: 0;
    }
    .no-push-left-lg {
        margin-left: 0;
    }
    .no-pad-lg {
        padding: 0;
    }
    .no-pad-top-lg {
        padding-top: 0;
    }
    .no-pad-right-lg {
        padding-right: 0;
    }
    .no-pad-bottom-lg {
        padding-bottom: 0;
    }
    .no-pad-left-lg {
        padding-left: 0;
    }
}
